.lesson-four-task-one button.btn:hover {
    color: red;
    background-color: yellow;
}

.lesson-four-task-two a.link:hover {
    background-color: green;
}

.lesson-four-task-three a:visited {
    color:yellow;
}

#sidebar a:link {
    color:red;
}

.lesson-four-task-five button.btn:active {
    background-color: rgb(101, 101, 218);
}

.lesson-four-task-six button.btn:focus {
    color:orange;
    background-color: orange;
}

#target:target {
    color:white;
    background-color: green;
}

input[type='checkbox']:checked ~ div {
    background-color: blue;
    color: white;
}

p:lang(uk) {
    color: blue;
}
.lesson-four-task-ten input:enabled {
    color: red;
    background-color: yellow;
}
.lesson-four-task-eleven input:disabled {
    background-color: yellow;
}

.lesson-four-task-twelve input:read-write {
    background-color: yellow;
}

.lesson-four-task-thirteen input:read-only {
    background-color: yellow;
}

.lesson-four-task-fourteen input:valid {
    background-color: green;
}
.lesson-four-task-fourteen input:invalid {
    background-color: red;
}

.lesson-four-task-fifteen input:optional {
    background-color: red;
}

.lesson-four-task-sixteen input:out-of-range {
    color: red;
}
.lesson-four-task-seventeen input:in-range {
    color: red;
}
.lesson-four-task-eighteen input:placeholder-shown {
    background-color: red;
}

.lesson-four-task-nineteen button:focus-within {
    background-color: yellow;
    color: white;
}
.lesson-four-task-twenty input:invalid {
    background-color: red;
}